body {
  background: linear-gradient(135deg, #E9EEF1, #D9E3E6); 
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}
