body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  height: 100dvh;
  background: linear-gradient(135deg, #E9EEF1, #D9E3E6); 
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

